* {
    margin: 0;
    padding: 0
}
#coin_list, #content, #exchange_list {
    margin: 0 100px;
}
td img{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.change {
    color: green
}
.percent {
    height: 20px;
    width: 20px;
    float: left;
    background-color: #D16BAB;
}
.toTop {
    width: 51px;
    height: 66px;
    position:fixed;
    top:50%;
    cursor:pointer;
    background-image: url(../images/top.jpg)
}
tbody tr {
    transition: all 0.5s;
}
tbody tr:hover {
    transform: skew(-10deg) scale(1.01, 1.05)
}
@keyframes roll {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-50%)
    }
}
#tickBar {
    overflow: hidden
}
#outerContainer {
    width: 200%;
    animation: roll 60s linear infinite
}
.innerContainer {
    width: 50%;
    float: left
}
#outerContainer:hover {
    animation-play-state: paused
}